body
{
	min-width: 1280px;
}
#jBrowseContainer a
{
	color: black;
}
#genome_changer
{
	font-size: 14px;
	line-height: 32px;
	text-align: center;
}
/* forcus color */
li a
{
	outline-color: transparent;
}

/* jbrowse menu hide */
#menu {
	/* height: 158px; */
	overflow: hide;
}
.menuBar
{
	display: none;
}
.menubar_level1 {
	overflow:hidden;
	/* overflow-x: scroll; */
}
.buttons {
	display: inline;
	white-space: nowrap;
}
.selectable .ui-selecting 
{ 
	background: #475467;
	
}
.selectable .ui-selected 
{ 
	background: #777e8a; 
	color: white; 
}
.selectable
{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#vlogo
{
	height: 32px;
}

#header-title span
{
	margin-left: 10px;
	position: relative;
	top: -4px;
}

#header-title
{
	/*
	float:right;
	margin-right: 2%;
	padding-top: 20px;
	*/
	color: #ffffff;
	font-size: 24px;
	position: absolute;
	left: 15px;
	top: 24px;
}
#header-control
{
	float:right;
}

/* UI */

.ui-dialog {
	padding: 0px;
}
		
body .ui-tabs {
	margin: 0;
	padding: 0;
	background: #000;
	border: none;
	border-radius: 0px;
}



.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em 6% 2px 8%;
	border: 1px solid #000;
	background: #000000 url("images/ui-bg_highlight-soft_75_000000_16x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
	border-bottom-width: 0;
	height: 50px;
}
.ui-tabs .ui-tabs-nav li {

	
	/* new */
	margin: 1px 1% 0 1%;
	text-align: center;
	background: none;
	border: #000000;
	font-size: 14px;
	height: 30px;
	position: relative;
	top: 50%;
	margin-top: -12px;
	margin-right: 3%;
}
.ui-tabs .ui-tabs-nav li a {
	color: #fff;
	outline: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: 0;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	/* new */
	/* background: url("images/ui-tab-arrow_13x8.png") no-repeat bottom center; */
	background: url("images/arrow86.png") no-repeat bottom center;
	border: #555555;
	padding: 0 0 5px 0;
	height: 35px;
	
}
.ui-tabs .ui-tabs-panel {
	/* new */
	background: #3e3f45 url("images/ui-bg_highlight-soft_75_2b2b33_10x50.png");
	border: none;
	border-top: #53545a 1px solid;
	padding: 10px 20% 10px 9%;
	margin-bottom: 2px;
	height: 20px;
}

.ui-button {
	outline: none;
}

.ui-tabs .ui-tabs-panel .ui-button {
	background: none;
	border: none;
	/*
	background: #45454e;
	border: 1px solid;
	border-top-color: #65656d;
	border-right-color: #474750;
	border-bottom-color: #1d1c22;
	border-left-color: #45454f;
	padding: 4px 8px;
	*/
	margin-right: 3%;
}
.ui-tabs .ui-tabs-panel .ui-button-text {
	color: #d3cfdd;
	font-size: 14px;
}
.ui-tabs-panel {
	height: 38px;
}

ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	padding-left: 330px;
}

/* ui widget */
.ui-widget-header {}
.ui-widget-header a {}
.ui-widget-content {
	border: 2px solid #666666;
	/* background: #474748 url("images/ui-bg_dialog_474747_10*60.png") 50% 50% repeat; */
	background: #2c2d34;
}

/* control panel */
.control_panel_left {
	float:left;
	width: 40%;
	padding-right: 5%;
	
}
.control_panel_right {
	float:left;
	width: 50%;
	overflow-x: inherit;
}
.section_title {
	margin: 12px;
}
.section_content {
	
}

.section_title div {
	color: #eeeeee;
}
.control_panel_left .section_content .ui-selectee {
	padding: 1px 6px 1px 6px;
}
.control_panel_left .section_content {
	border: 1px solid #f88700;
	min-height: 280px;
	color: #dbdbdb;
	font-size: 14px;
	padding: 1px;
}

/* 設定三個視窗的背景顏色與文字顏色，background 要設定 url，才不會有突然空白的 bug */
#jBrowseContainer, #SocialCalcContainer, #D3Container {
	background: #FFF url("");
	color: black;
}
.jb-ui-widget-header {
	border: 1px solid #333333;
	background: -webkit-linear-gradient(top, #085c94, #2b2b82);
}
.sc-ui-widget-header {
	border: 1px solid #333333;
	background: -webkit-linear-gradient(top, #427b57, #065225);
}
.d3-ui-widget-header {
	border: 1px solid #333333;
	background: -webkit-linear-gradient(top, #f55454, #9b0b0b);
}

/* exec plot */
#plot_selection {
	text-align:center;
	line-height: 28px;
}
#plot_selection .plot_selection_title {
	display:inline-block;
	text-align:right;
	width: 120px;
}
#plot_selection select {
	min-width: 240px;
}
#plot_selection .exec_plot {
	margin: 5px;
	width: 100px;
	font-size: 18px;
}

div[id^=graph_] {
	background: #FFF !important;
}

/* layouts */
.layouts_btn_3w {
	/* background: url("../images/layouts_3w.png") !important; */
}
.menu_layout_buttons {
	/*
	height: 36px;
	width: 66px;
	*/
	height: 25px;
	width: 60px;
	padding:0px !important;
	margin-right: 1% !important;
}
.layout_btn_window {
	display:inline-block;
	float:left;
	border: #2b2c33 solid 1px;
}
.layout_btn_window_h1_w2 {
	height: 22px;
	width: 25px;
}
.layout_btn_window_h2_w1 {
	height: 10px; 
	width: 52px;
}
.layout_btn_window_h2_w2 {
	height: 10px;
	width: 25px;
}
.layout_btn_window_h1_w1 {
	height: 22px;
	width: 52px;
}
.layout_btn_window_jb {
	background: #085c94;
}
.layout_btn_window_sc {
	background: #427b57;
}
.layout_btn_window_d3 {
	background: #f55454;
}

/*  D3Museum order  */
#D3Museum {
	height: 96%;
	padding: 2px;
}
#D3Museum .sort_item {
	display:inline-block;
	list-style-type: none;
	border: solid 1px;
}
#D3Museum .sort_item_w1 {
	width: 100%;
}
#D3Museum .sort_item_w2 {
	width: 49%;
}
#D3Museum .sort_item_w3 {
	width: 32%;
}
#D3Museum .sort_item_w4 {
	width: 24%;
}
#D3Museum .sort_item_h1 {
	height: 100%;
}
#D3Museum .sort_item_h2 {
	height: 50%;
}
#D3Museum .sort_item_h3 {
	height: 33%;
}
#D3Museum .sort_item_h4 {
	height: 25%;
}
.d3_control_panel {
	border: 1px solid #000;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	position: absolute;
	background: #FFF;
	color: black;
}
.current_selected {
	border: 1px solid red !important; 
}

/* JB Bookmark */
.bookmark_list {
	font-size: 14px;
	margin:2px;
	height: 20px;
	cursor: pointer; 
	list-style-type: none;
}
.bookmark_list_link, .bookmark_list_delete, .bookmark_list_rename {
	display: inline-block;
}
.bookmark_list_link {
	margin-left:10px;
	float:left;
}
.bookmark_list_delete, .bookmark_list_rename {
	float:left;
}

/* SimpleList */
.simple_list {
	font-size: 14px;
	margin:2px;
	height: 20px;
	cursor: pointer; 
	list-style-type: none;
}
.simple_list_touch, .simple_list_remove, .simple_list_modify {
	display: inline-block;
}
.simple_list_touch {
	margin-left:10px;
	width: 80%;
	height: 100%;
	overflow: hidden;

	/* float:left; */
}
.simple_list_remove, .simple_list_modify {
	float:left;
}

/* sequence logo */
@CHARSET "ISO-8859-1";

body {
  font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.letter-A {
	fill: green;
	font-weight: bold;
}
.letter-C {
    fill: blue;
    font-weight: bold;
}
.letter-T {
    fill: red;
    font-weight: bold;
}
.letter-G {
    fill: rgb(255, 214, 0);
    font-weight: bold;
}

.account_info_title {
	display: inline-block;
	width: 20%;
	min-width: 150px;
	text-align: right;
	vertical-align: top;
	margin-bottom:16px;
	margin-right:2%;
}

.account_item {
	width: 60%
}

#ac_msg {
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	color: yellow;
}

/* JOB INFORMATION */
.job_info_information {
	height: 175px;
}
.job_info_subject, .job_info_description, .job_info_information {
	width:70%;
	padding:1px;
}
.job_info_title {
	display: inline-block;
	width: 20%;
	min-width: 120px;
	text-align: right;
	vertical-align: top;
	margin-bottom:16px;
	margin-right:2%;
}
.job_info_inline {
	display: inline-block;
}
.jque_subject {
	display: inline-block;
	font-weight: bold;
}
.jque_description {
	margin-top: 6px;
	font-size:10px;
	word-break:break-all;
}
.img_btn {
	background:black;
	color:white;
	padding:0px;
	border: 2px solid #666;
}
.img_btn div {
	background-image: url("ui-icons_cccccc_256x240.png");
	width:16px;
	height:16px;
}
.img_div_btn {
	background:black;
	background-image: url("ui-icons_cccccc_256x240.png");
	color:white;
	padding:0px;
	border: 2px solid #666;
	width:16px;
	height:16px;
}
.job_btn_copy {
	background-position: -176px -128px;
}
.job_btn_info {
	background-position: -32px -144px;
}
.job_btn_del, .bookmark_list_delete, .simple_list_remove{
	background-position: -176px -96px;
}
.bookmark_list_rename, .simple_list_modify{
	background-position: -240px -96px;
}

#faceted_tracksel .faceted_tracksel_on_off.tab
{
	top: 4em;
}

.l1_icons
{
	height: 20px;
	width: 20px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.dgrid-content span
{
	color: black;
}

.dgrid div
{
	background: none;
}

td.dgrid-cell
{
	background: white !important;
}

.dgrid-cell
{
	color:black;
}

.dgrid-header, .dgrid-header-row, .dgrid-footer
{
	background-color: #eee !important
}

.dgrid .ui-state-default, .dgrid .ui-widget-content .ui-state-default, .dgrid .ui-widget-header .ui-state-default
{
	border: none;
}

.dgrid-content
{
	border: none;
}

.dgrid .ui-widget-header
{
	border: none;
	color: none;
}
