/*
.top {
clear: both;
float: left;
height: 50%;
width: 100%;
border-top-width: medium;
border-right-width: medium;
border-bottom-width: medium;
border-left-width: medium;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
overflow: auto;
}
.bottom {
clear: none;
float: left;
height: 45%;
border-top-width: medium;
border-right-width: medium;
border-bottom-width: medium;
border-left-width: medium;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
}
*/
#gridContainer {
width: 65%;
}
#D3Container {
width: 35%;
}
#jBrowserContainer {
}
.chart rect {
	stroke: white;
	fill: steelblue;
}
.jobs {
width: 160px;
height: 80px;
border-width: thin;
border-style: solid;
padding: 3px;
}
.job_subject {
}
.job_delete {
float: right;
}
.tipsy .kkk{
z-index: 55556789;
}
#sheet_tabs {
overflow: hidden;
white-space: nowrap;
width: 320px;
position: absolute;
left: 50px;
}
.sc_tabs_selected {
	display: inline-block;
	border-bottom: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom-right-radius: 10px;
	background: #ffffff;
}
.sc_tabs {
	display: inline-block;
	border-bottom: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom-right-radius: 10px;
	background: #dddddd;
}
#sc_tab_btns {
	width: 85px;
	display: inline-block;
	float: left;
}
#horiz_scroll::-webkit-scrollbar {
-webkit-appearance:none !important;
width:11px !important
}
#horiz_scroll::-webkit-scrollbar {
border-radius:8px !important;
border:2px solid white !important;
background-color:#ccc !important
}
#horiz_scroll::-webkit-scrollbar-thumb {
border-radius:8px !important;
border:2px solid white !important;
background-color:rgba(0,0,0,.5) !important
}

#itips {
height: 100%;
width: 100%;
display: none;
}
